.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 1200px;
    overflow-y: scroll;
    border: 1px solid black;
}

.row-filter {
    width: 100%;
    border: 1px solid gray;
}

.row-and-info>.container {
    margin-right: 10px;
}