.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 1200px;
    overflow-y: scroll;
    border: 1px solid black;
}

.result-table {
    width: 1410px;
}

.row-filter {
    width: 100%;
}

.row-filter button {
    margin-bottom: 5px;
}

.row-and-info {
    display: flex;
}

.row-and-info>*:first-child {
    margin-right: 10px;
}