* {
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prevent-select:hover {
  cursor: default;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px;
  margin: 5px 0 5px 5px;
  height: 40px;
  font-size: 20px;
  background-color: #EEEEEE;
}

button:hover {
  background-color: #DDDDDD;
}

button:active {
  background-color: #CCCCCC;
}